body{font-family: Verdana, Arial;
     background-image: url("walpaper2.jpg");
     margin: 15px 50px 10px 250px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
        
}
#wrapper{background-color: darkred;
         width: 80%;

               
}
    
nav{float: left;
    width: 150px;
    
        
}
ul.a{list-style-type: none}
    
#rightcol{margin-left: 150px;
          
        
}   
    
 header{background-image: url("walpaper5.jpg");
        padding: 90px;
        background-repeat: no-repeat;
        background-size:cover;
        
        
}
    
 h1{ background-color: transparent;
     padding: 5px;
     color: darkblue; 
     font-size: 40px;
}
    
footer{text-align: center;
    color: white;
    background-color: darkblue;
    padding: 10px;
    
        
}
    
 p{ font-family:Papyrus;
     
        
}

    
.float{float: right;
      margin: 0 0 5px 5px;
     border: 2px solid black;    
} 
    
#rightcol{margin-left: 210px;
          padding: 10px;
          background-color: silver;
          color: black;
    
}
  
a:hover {
    background-color: orange;
}
    
.clearleft{clear: right;}

h2{font-family: Courier New;
    
}

.float2{float: left;
      margin: 0 0 5px 5px;
     border: 2px solid black;    
}








